*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Arial;
background:#f7f7f7;

}

.payment-container{

max-width:1200px;

margin:60px auto;

display:flex;

gap:40px;

padding:20px;

}

.left{

width:45%;

background:#fff;

padding:30px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.left img{

width:100%;

border-radius:12px;

}

.left h2{

margin-top:20px;

font-size:30px;

}

.left h3{

margin-top:10px;

font-size:26px;

color:#6a3093;

}

.note{

margin-top:20px;

font-size:16px;

color:#666;

}

.right{

width:55%;

background:#fff;

padding:30px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.right h2{

text-align:center;

margin-bottom:20px;

}

.qr{

width:260px;

display:block;

margin:auto;

}

.upi{

text-align:center;

margin:20px 0;

font-size:18px;

font-weight:600;

}

form{

display:flex;

flex-direction:column;

gap:18px;

margin-top:20px;

}

input{

padding:15px;

border:1px solid #ddd;

border-radius:8px;

font-size:16px;

}

.upload{

border:2px dashed #ccc;

padding:20px;

text-align:center;

border-radius:10px;

cursor:pointer;

}

.upload input{

display:block;

margin-top:10px;

border:none;

}

button{

padding:16px;

background:#6a3093;

color:#fff;

font-size:18px;

border:none;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#a044ff;

}

@media(max-width:900px){

.payment-container{

flex-direction:column;

}

.left,
.right{

width:100%;

}

.qr{

width:220px;

}

}