@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

/* ================= Navbar CSS ================= */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #111;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 8px;
}

nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #111;
  transform: translateX(-50%);
  transition: width 0.35s ease;
}

nav a:hover::after,
nav a.active::after {
  width: 100%;
}

.menu-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* ================= Hero Section CSS ================= */

.hero {
  min-height: 100vh;
  background: linear-gradient(90deg, #ffffff 0%, #eaafc8 50%, #654ea3 100%);
  position: relative;
  overflow: hidden;
}

.scroll-text {
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 12%,
    black 88%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 12%,
    black 88%,
    transparent 100%
  );
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: marquee 44s linear infinite;
  cursor: pointer;
}

.scroll-text:hover .scroll-track {
  animation-play-state: paused;
}

.scroll-track span {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(80px, 8vw, 170px);
  font-weight: 500;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  padding-right: 100px;
  line-height: 1;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.hero-content {
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;
  padding: 120px 6% 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding-bottom: 180px;
}

.content h1 {
  max-width: 550px;
  font-size: 52px;
  color: #000000;
  margin-bottom: 40px;
  line-height: 1.1;
}

.head_buttons {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.btn1 {
  text-decoration: none;
  padding: 13px 45px;
  border-radius: 50px;
  font-weight: 700;
  transition: 0.3s;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.primary {
  background: #654ea3;
  color: white;
}

.primary:hover {
  transform: translateY(-3px);
}

.secondary {
  border: 2px solid #654ea3;
  color: #654ea3;
}

.secondary:hover {
  background: #654ea3;
  color: white;
}

.btn-fill,
.btn-outline {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 45px;
  border-radius: 50px;
  overflow: hidden;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  z-index: 1;
  transition: 0.35s ease;
}

/* Fill Button */

.btn-fill {
  background: #654ea3;
  color: #fff;
}

.btn-fill::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: #442f7c;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-fill:hover::before {
  bottom: 0;
}

/* Outline Button */

.btn-outline {
  border: 2px solid #442f7c;
  color: #442f7c;
}

.btn-outline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: #442f7c;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-outline:hover {
  color: #fff;
}

.btn-outline:hover::before {
  bottom: 0;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  object-fit: contain;
  z-index: 1;
}

/* TABLET */

@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content {
    padding-bottom: 50px;
  }

  .content h1 {
    max-width: 100%;
    font-size: 42px;
  }

  .buttons {
    justify-content: center;
  }

  .hero-image {
    justify-content: center;
  }

  .hero-image img {
    max-width: 420px;
  }

  .bg-text {
    top: 25%;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    background: white;
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    transition: 0.4s;
  }

  nav.active {
    left: 0;
  }

  .menu-btn {
    display: block;
  }

  .bg-text {
    font-size: 60px;
    white-space: normal;
    line-height: 1;
  }

  .content h1 {
    font-size: 34px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .hero-image img {
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .content h1 {
    font-size: 28px;
  }

  .bg-text {
    font-size: 50px;
  }
}

/* ================= Features Section CSS ================= */
.featured-section {
  width: 100%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 40px 4%;
  background: #ffffff;
  overflow: hidden;
}

.featured-content {
  flex: 1;
  max-width: 301px;
}

.featured-content h2 {
  font-size: 2.6rem;
  color: #000000;
  margin-left: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

.logo-slider {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.logo-track {
  display: flex;
  align-items: center;
  gap: 60px;
  width: max-content;
  animation: slideLogos 15s linear infinite;
}

.logo-track img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: 0.3s;
}

.logo-track img:hover {
  transform: scale(1.1);
}

@keyframes slideLogos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Responsive */

@media (max-width: 768px) {
  .featured-section {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .featured-content h2 {
    font-size: 32px;
  }

  .logo-track {
    gap: 35px;
  }

  .logo-track img {
    width: 70px;
    height: 70px;
  }
}

/* ================= About Section CSS ================= */
.about {
  position: relative;
  padding: 100px 60px 30px 60px; /* balanced spacing */
  overflow: hidden;
}

/* BACKGROUND IMAGE */
.about-bg {
  position: absolute;
  inset: 0;
  background: url("img/about_bg.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
  top: 120px;
}

/* DARK OVERLAY */
.about::after {
  content: "";
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.80);
  z-index: 1;
}

/* MAIN LAYOUT */
.about-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 80px;
}

/* IMAGE */
.about-image {
  flex: 1;
  transform: translateY(-90px);
}

.about-image img {
  width: 100%;
  max-width: 470px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* CONTENT */
.about-content {
  flex: 1;
  color: #fff;
  max-width: 600px;
  margin-top: 62px;
}

/* TAG */
.tag {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 1.5rem;
  margin-bottom: 18px;
}

/* HEADING */
.about-content h2 {
  font-size: 3rem;
  margin-bottom: 18px;
  line-height: 1.3;
}

/* GRADIENT TEXT */
.gradient-text {
  background: linear-gradient(90deg, #ffffff, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* TEXT */
.about-content p {
  color: #ffffff;
  margin-bottom: 12px;
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: justify;
}

/* ================= RESPONSIVE ================= */

/* Large Tablets (1024px) */
@media (max-width: 1024px) {
  .about-wrapper {
    gap: 40px;
  }

  .about-content h2 {
    font-size: 34px;
  }
}

/* Tablets */
@media (max-width: 992px) {
  .about {
    padding: 80px 40px;
  }

  .about-wrapper {
    gap: 40px;
  }

  .about-content h2 {
    font-size: 32px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .about {
    padding: 70px 20px;
  }

  .about-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    max-width: 280px;
    margin: 0 auto;
    transform: translateY(60px);
  }

  .about-content h2 {
    font-size: 26px;
  }

  .about-content {
    max-width: 100%;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .about {
    padding: 60px 15px;
  }

  .about-content h2 {
    font-size: 22px;
  }

  .tag {
    font-size: 12px;
  }
}

/* ================= Service Section CSS ================= */
.services-section {
  background: #efefef;
  padding: 100px 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.left-content {
  flex: 1 1 350px;
}

.left-content h2 {
  font-size: clamp(32px, 5vw, 53px);
  line-height: 1.1;
  font-weight: 900;
  color: #111;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.red-line {
  width: 140px;
  height: 4px;
  background: #442f7c;
  margin-bottom: 25px;
}

.left-content p {
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.5;
  color: #000000;
  max-width: 470px;
  text-align: justify;
  font-weight: 600;
}

/* RIGHT SIDE */
.right-content {
  flex: 1 1 450px;
}

.faq-item {
  border-bottom: 2px solid #111;
  padding: 18px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.faq-question h3 {
  font-size: clamp(16px, 3vw, 26px);
  text-transform: uppercase;
  font-weight: 800;
}

.icon {
  font-size: clamp(28px, 5vw, 40px);
  font-weight: 600;
  color: #442f7c;
  flex-shrink: 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer-content {
  padding: 8px 0 10px 0;
}

.faq-answer p {
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.5;
  font-weight: 500;
  color: #000000;
  max-width: 600px;
}

.faq-item.active .faq-answer {
  max-height: 250px;
}

/* TABLETS */
@media (max-width: 992px) {
  .services-section {
    padding: 70px 40px;
    gap: 40px;
  }

  .left-content p,
  .faq-answer p {
    max-width: 100%;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .services-section {
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;
  }

  .left-content,
  .right-content {
    width: 100%;
    flex: 1 1 280px;
  }

  .faq-question {
    align-items: center;
  }

  .faq-question h3 {
    line-height: 1.3;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .services-section {
    padding: 40px 15px;
  }

  .red-line {
    width: 100px;
  }

  .faq-item {
    padding: 14px 0;
  }
}

/* ===== TESTIMONIAL SECTION ===== */
.testimonial-section {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 8%;
}

/* CONTAINER */
.testimonial-container {
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* LEFT */
.testimonial-left {
  overflow: hidden;
  position: relative;
}

/* SLIDER WRAPPER */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

/* SLIDES */
.slider-track {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

/* EACH SLIDE */
.testimonial-slide {
  min-width: 100%;
  padding-right: 20px;
}

/* TEXT */
.testimonial-text {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 26px;
  text-align: justify;
  color: #000000;
  max-width: 650px;
  margin-top: 15px;
}

/* STARS */
.stars {
  color: #e26217;
  font-size: 24px;
  margin-bottom: 10px;
}

/* CLIENT */
.client-name {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}

.client-role {
  font-size: 14px;
  color: #888;
  letter-spacing: 2px;
}

/* CONTROLS */
.controls {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 17px;
}

.controls button {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: #000000;
  font-size: 17px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.4s ease;
}

.controls button:hover {
  background: #442f7c;
  transform: translateY(-4px);
  border-color: #442f7c;
}

/* RIGHT */
.testimonial-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* GLOW */
.testimonial-right::before {
  content: "";
  position: absolute;

  width: 400px;
  height: 400px;

  background: rgba(255, 90, 31, 0.15);
  border-radius: 50%;

  filter: blur(100px);
}

/* BOOK */
.book-image {
  width: 100%;
  max-width: 420px;

  position: relative;
  z-index: 2;

  animation: floatBook 4s ease-in-out infinite;

  filter: drop-shadow(0 25px 45px rgba(0, 0, 0, 0.6));
}

/* FLOAT */
@keyframes floatBook {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* DOTS */
.dots {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #444;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  width: 35px;
  border-radius: 20px;
  background: #442f7c;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .testimonial-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .testimonial-right {
    order: -1;
  }

  .testimonial-text {
    margin: auto;
  }

  .controls,
  .dots {
    justify-content: center;
  }

  .book-image {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .testimonial-section {
    padding: 60px 20px;
  }

  .quote {
    font-size: 60px;
  }

  .testimonial-text {
    font-size: 12px;
    line-height: 1.7;
  }

  .client-name {
    font-size: 28px;
  }

  .controls button {
    width: 50px;
    height: 50px;
  }

  .book-image {
    max-width: 240px;
  }
}

/* ===== RESPONSIVE ===== */

@media (max-width: 992px) {
  .testimonials h2 {
    font-size: 36px;
  }

  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-card:first-child,
  .testimonial-card:last-child,
  .person-block,
  .person-image {
    grid-column: auto;
  }

  .person-info,
  .left-info {
    position: static;
    margin-top: 15px;
  }

  .testimonial-card p {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .testimonial-right::before {
    width: auto;
  }
  .testimonials {
    padding: 70px 20px;
  }

  .testimonials h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .testimonial-card {
    padding: 35px 25px;
  }

  .testimonial-card p {
    font-size: 18px;
  }
}

/* ===== Featured Youtube Section CSS ===== */
.listening-section {
  padding: 80px 8%;
  text-align: center;
  background: rgb(0 0 0 / 6%);
}

.listening-section h2 {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.video-card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease;
}

.video-card:hover {
  transform: translateY(-8px);
}

.video-card iframe {
  width: 100%;
  height: 250px;
  border: none;
}

/* Tablet */
@media (max-width: 992px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr;
  }

  .listening-section h2 {
    font-size: 36px;
  }

  .video-card iframe {
    height: 220px;
  }
}

/* ================= Blog Section CSS ================= */
.blog-section {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 120px 50px;
  background-color: #ffffff;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
  gap: 50px;
}

.blog-left {
  flex: 1.5;
}

.blog-tag {
  font-size: 12px;
  letter-spacing: 1px;
  color: #777;
  display: block;
  margin-bottom: 15px;
}

.blog-left h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 750;
  color: #000000;
}

.blog-right {
  flex: 1;
  padding-top: 30px;
}

.blog-right p {
  font-size: 17px;
  line-height: 1.8;
  color: #000000;
  margin-bottom: 15px;
}

.blog-right h4 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: #000000;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.blog-card {
  position: relative;
  height: 430px;
  overflow: hidden;
  cursor: pointer;
}

.blog-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.blog-card:hover img {
  transform: scale(1.08);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.blog-content {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  color: #fff;
  z-index: 2;
}

.blog-content a {
  text-decoration: none;
  color: #fff;
}

.category {
  display: inline-block;
  background: #442f7c;
  color: #fff;
  font-size: 13px;
  padding: 4px 8px;
  margin-bottom: 18px;
}

.blog-content h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: none;
}

.meta {
  display: flex;
  gap: 18px;
  font-size: 15px;
  color: #ddd;
}

.meta i {
  margin-right: 5px;
}

.tag2 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 14px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* =========================
   Responsive Blog Section
========================= */

/* Large Tablets */
@media (max-width: 1024px) {
  .blog-section {
    padding: 100px 40px;
  }

  .blog-header {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }

  .blog-left h2 {
    font-size: 40px;
  }

  .blog-right {
    padding-top: 0;
  }

  .blog-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .blog-card {
    height: 380px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .blog-section {
    padding: 80px 25px;
  }

  .blog-left h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .blog-right p {
    font-size: 15px;
    line-height: 1.6;
  }

  .blog-right h4 {
    font-size: 15px;
  }

  .blog-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .blog-card {
    height: 350px;
  }

  .blog-content h3 {
    font-size: 20px;
  }

  .meta {
    flex-wrap: wrap;
    gap: 10px;
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  .blog-section {
    padding: 60px 15px;
  }

  .blog-tag {
    font-size: 11px;
  }

  .blog-left h2 {
    font-size: 26px;
  }

  .blog-right p {
    font-size: 14px;
  }

  .blog-right h4 {
    font-size: 14px;
  }

  .blog-card {
    height: 300px;
  }

  .blog-content {
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .category {
    font-size: 11px;
    padding: 4px 7px;
  }

  .blog-content h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .meta {
    font-size: 12px;
    gap: 8px;
  }
}

/* ================= Work with me Section CSS ================= */
.contact-section {
  padding: 80px 10%;
  background: #e9e9e9;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

/* LEFT SIDE */
.left {
  flex: 1;
}

.left h1 {
  font-size: 3rem;
  font-weight: 750;
  line-height: 1.3;
  color: #000;
}

.left h1 span {
  font-size: inherit;
  font-weight: inherit;
}

.contact-info {
  margin-top: 40px;
}

.contact-info p {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000000;
  word-wrap: break-word;
}

/* RIGHT FORM */
.right {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #999;
  background: transparent;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #442f7c;
}

textarea {
  min-height: 120px;
  resize: none;
}

.submit_btn {
  width: 150px;
  padding: 12px;
  background: rgb(68 47 124);
  color: #ffffff;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Cormorant Garamond", serif;
}

.submit_btn:hover {
  background: #654ea3;
}

/* =========================
   RESPONSIVE BREAKPOINTS
========================= */

/* Large Tablets */
@media (max-width: 992px) {
  .contact-section {
    padding: 60px 8%;
  }

  .contact-container {
    gap: 30px;
  }

  .left h1 {
    font-size: 36px;
  }

  .contact-info p {
    font-size: 16px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .contact-section {
    padding: 50px 6%;
  }

  .contact-container {
    flex-direction: column;
    gap: 40px;
  }

  .left,
  .right {
    width: 100%;
  }

  .left h1 {
    font-size: 30px;
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  .contact-section {
    padding: 40px 5%;
  }

  .left h1 {
    font-size: 24px;
    line-height: 1.4;
  }

  .contact-info {
    margin-top: 25px;
  }

  .contact-info p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  input,
  textarea {
    padding: 12px;
    font-size: 14px;
  }

  .submit_btn {
    padding: 12px;
    font-size: 15px;
  }
}

/* ================= Footer Section CSS ================= */
.footer {
  background: #000000;
  color: #fff;
  padding: 60px 20px 30px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
}

/* Top Section */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left h2 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.footer-left p {
  color: #ffffff;
  font-size: 1.2rem;
}

.footer-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.btn.dark {
  background: #442f7c;
  color: #fff;
}

.btn.dark:hover {
  background: #654ea3;
}


/* Divider */
hr {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 30px 0;
}

/* Middle Section */
.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-socials a {
  margin-left: 15px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: 0.3s;
}

/* Hover Effects */
.footer-socials a:hover {
  background: #fff;
  color: #ff4d1c;
  transform: translateY(-3px);
}

/* Individual Brand Hover Colors (optional premium touch) */
.footer-socials a:nth-child(1):hover {
  color: #1877f2; /* Facebook */
}

.footer-socials a:nth-child(2):hover {
  color: #e1306c; /* Instagram */
}

.footer-socials a:nth-child(3):hover {
  color: #ff0000; /* YouTube */
}

/* Bottom */
.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-middle {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .footer-buttons {
    flex-wrap: wrap;
  }
}

