@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: "Raleway", sans-serif;
}

ul li{
  font-family: "Syne", sans-serif;
}

/* ================= Navbar CSS ================= */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #111;
  font-size: 0.9rem;
  font-weight: 700;
  padding-bottom: 8px;
  font-family: "Syne", sans-serif;
}

nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #111;
  transform: translateX(-50%);
  transition: width 0.35s ease;
}

nav a:hover::after,
nav a.active::after {
  width: 100%;
}

.menu-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* ================= Hero Section CSS ================= */

.hero {
  min-height: 100vh;
  background: linear-gradient(90deg, #ffffff 0%, #eaafc8 50%, #654ea3 100%);
  position: relative;
  overflow: hidden;
}

.scroll-text {
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 12%,
    black 88%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 12%,
    black 88%,
    transparent 100%
  );
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: marquee 44s linear infinite;
  cursor: pointer;
}

.scroll-text:hover .scroll-track {
  animation-play-state: paused;
}

.scroll-track span {
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(80px, 8vw, 170px);
  font-weight: 500;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  padding-right: 100px;
  line-height: 1;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.hero-content {
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;
  padding: 220px 8% 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.gradientText{
  background: -webkit-linear-gradient(#a044ff, #2F0743);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small-content {
  flex: 1;
  padding-bottom: 180px;
}

.small-content h1 {
  max-width: 550px;
  font-size: 52px;
  color: #000000;
  margin-bottom: 40px;
  line-height: 1.1;
}

.small-content h2 {
  font-size: 2.6rem;
  line-height: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  margin-bottom: 17px;
}

.head_buttons {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.book-btn {
  margin-top: 1.5rem;
}

.btn1 {
  text-decoration: none;
  padding: 13px 45px;
  border-radius: 50px;
  font-weight: 700;
  transition: 0.3s;
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
}

.primary {
  background: #654ea3;
  color: white;
}

.primary:hover {
  transform: translateY(-3px);
}

.secondary {
  border: 2px solid #654ea3;
  color: #654ea3;
}

.secondary:hover {
  background: #654ea3;
  color: white;
}

.btn-fill,
.btn-outline {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 45px;
  border-radius: 50px;
  overflow: hidden;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  z-index: 1;
  transition: 0.35s ease;
}

/* Fill Button */

.btn-fill {
  background: #654ea3;
  color: #fff;
}

.btn-fill::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: #442f7c;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-fill:hover::before {
  bottom: 0;
}

/* Outline Button */

.btn-outline {
  border: 2px solid #442f7c;
  color: #442f7c;
}

.btn-outline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: #442f7c;
  transition: 0.4s ease;
  z-index: -1;
}

.btn-outline:hover {
  color: #fff;
}

.btn-outline:hover::before {
  bottom: 0;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  object-fit: contain;
  z-index: 1;
}

/* TABLET */

@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content {
    padding-bottom: 50px;
  }

  .content h1 {
    max-width: 100%;
    font-size: 42px;
  }

  .buttons {
    justify-content: center;
  }

  .hero-image {
    justify-content: center;
  }

  .hero-image img {
    max-width: 420px;
  }

  .bg-text {
    top: 25%;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    background: white;
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    transition: 0.4s;
  }

  nav.active {
    left: 0;
  }

  .menu-btn {
    display: block;
  }

  .bg-text {
    font-size: 60px;
    white-space: normal;
    line-height: 1;
  }

  .content h1 {
    font-size: 34px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }

  .hero-image img {
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .content h1 {
    font-size: 28px;
  }

  .bg-text {
    font-size: 50px;
  }
}

/* ================= Features Section CSS ================= */
.featured-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 31px 4%;
  background: #ffffff;
  overflow: hidden;
}

.featured-content {
  flex: 1;
  max-width: 233px;
}

.featured-content h2 {
  font-size: 2rem;
  color: #000000;
  margin-left: 40px;
  text-transform: capitalize;
  font-weight: 700;
}

.logo-slider {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.logo-track {
  display: flex;
  align-items: center;
  gap: 60px;
  width: max-content;
  animation: slideLogos 15s linear infinite;
}

.logo-track img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: 0.3s;
}

.logo-track img:hover {
  transform: scale(1.1);
}

@keyframes slideLogos {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Responsive */

@media (max-width: 768px) {
  .featured-section {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .featured-content h2 {
    font-size: 32px;
  }

  .logo-track {
    gap: 35px;
  }

  .logo-track img {
    width: 70px;
    height: 70px;
  }
}

/* ================= About Section CSS ================= */
.about-author{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;

    min-height:100vh;
}

.author-image{

    height:100%;
}

.author-image img{

    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.author-content{

    padding:90px 95px;
}

.subtitle{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 14px;
    border: 1px solid #6827a2;
    border-radius: 20px;
    margin-bottom: 25px;
    font-family: "Syne", sans-serif;
}

.author-content h2{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 3.1rem;
    line-height:1;
    margin-bottom:15px;
    color:#111;
}

.author-content p{
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 4;
    text-align: justify;
    color:#444;
    margin-bottom:17px;
}

.author-button{
  margin-top: 50px;
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
  font-weight: 500;
}

/*-------------------*/
/* Laptop */
/*-------------------*/

@media(max-width:1200px){

.author-content{

    padding:70px;
}

.author-content h2{

    font-size:60px;
}

.author-content p{

    font-size:19px;
}

.author-list li{

    font-size:20px;
}

}

/*-------------------*/
/* Tablet */
/*-------------------*/

@media(max-width:991px){

.about-author{

    grid-template-columns:1fr;
}

.author-image{

    height:650px;
}

.author-content{

    padding:60px 40px;
}

.author-content h2{

    font-size:52px;
}

.author-content p{

    font-size:18px;
}

.author-list li{

    font-size:18px;
}

}

/*-------------------*/
/* Mobile */
/*-------------------*/

@media(max-width:576px){

.author-image{

    height:420px;
}

.author-content{

    padding:45px 22px;
}

.subtitle{

    font-size:18px;
}

.author-content h2{

    font-size:42px;
}

.author-content p{

    font-size:16px;
    line-height:1.8;
}

.author-list{

    margin-top:30px;
}

.author-list li{

    font-size:16px;
    padding-left:22px;
    margin-bottom:16px;
}

.bottom-line{

    margin-top:45px;
}

}
/* ================= Service Section CSS ================= */
.services-section {
  background: linear-gradient(90deg, #E6AE8C 0%, #A8CECF 100%);
  padding: 100px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.left-content {
  flex: 1 1 350px;
}

.left-content h2 {
  font-size: clamp(32px, 5vw, 53px);
  line-height: 1.1;
  font-weight: 900;
  color: #000000;
  margin-bottom: 30px;
  text-transform: Capitalize;
}

.red-line {
  width: 140px;
  height: 4px;
  background: #000000;
  margin-bottom: 15px;
}

.left-content p {
  font-size: clamp(14px, 2vw, 3.1rem);
  line-height: 1.3;
  letter-spacing: 1px;
  color: #000000;
  max-width: 470px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "DM Serif Display", serif;
}

.services-list{
  margin-top: 30px;
  max-width: 460px;
}

.services-list li{
  font-size: clamp(14px, 2vw, 15px);
  line-height: 1.7;
  font-family: "Raleway", sans-serif;
}

/* RIGHT SIDE */
.right-content {
  flex: 1 1 450px;
}

.faq-item {
  border-bottom: 2px solid #111;
  padding: 18px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.faq-question h3 {
  font-size: clamp(16px, 3vw, 28px);
  text-transform: capitalize;
  font-weight: 750;
  font-family: "Raleway", sans-serif;
}

.icon {
  font-size: clamp(28px, 5vw, 40px);
  font-weight: 600;
  color: #000000;
  flex-shrink: 0;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer-content {
  padding: 8px 0 10px 0;
}

.faq-answer p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.5;
  font-weight: 500;
  color: #000000;
  max-width: 600px;
}

.faq-item.active .faq-answer {
  max-height: 250px;
}

/* TABLETS */
@media (max-width: 992px) {
  .services-section {
    padding: 70px 40px;
    gap: 40px;
  }

  .left-content p,
  .faq-answer p {
    max-width: 100%;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .services-section {
    flex-direction: column;
    padding: 50px 20px;
    gap: 30px;
  }

  .left-content,
  .right-content {
    width: 100%;
    flex: 1 1 280px;
  }

  .faq-question {
    align-items: center;
  }

  .faq-question h3 {
    line-height: 1.3;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .services-section {
    padding: 40px 15px;
  }

  .red-line {
    width: 100px;
  }

  .faq-item {
    padding: 14px 0;
  }
}

/* ================= Feature Quote Section CSS ================= */
.quote-section{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px 20px;
    background:rgb(0 0 0 / 4%);
}

.quote-wrapper{
    width:100%;
    max-width:1100px;
    text-align:center;
}

.quote-icon{
    font-size:80px;
    color:rgb(101 78 163);
    line-height:1;
    margin-bottom:20px;
    font-family:serif;
}

.quote-text1{
    font-family:'Cormorant Garamond', serif;
    font-size:62px;
    font-weight:800;
    line-height:1.25;
    color:#161616;
    max-width:1000px;
    margin:auto;
}

.quote-text2{
    font-family:'Cormorant Garamond', serif;
    font-size:53px;
    font-weight:400;
    line-height:1.25;
    color:#161616;
    max-width:1000px;
    margin:auto;
}

.author{
    margin-top:70px;
}

.signature{
    width:170px;
    display:block;
    margin:0 auto 12px;
}

.author h4{
    font-family:'Cormorant Garamond', serif;
    font-size:34px;
    font-weight:600;
    color:#202020;
}

/* ----------------------- */
/* Large Laptop */
/* ----------------------- */

@media(max-width:1200px){

.quote-text{
    font-size:54px;
}

}

/* ----------------------- */
/* Laptop */
/* ----------------------- */

@media(max-width:992px){

.quote-section{
    padding:70px 25px;
}

.quote-text{
    font-size:44px;
}

.signature{
    width:150px;
}

.author h4{
    font-size:30px;
}

}

/* ----------------------- */
/* Tablet */
/* ----------------------- */

@media(max-width:768px){

.quote-icon{
    font-size:58px;
    margin-bottom:25px;
}

.quote-text{
    font-size:34px;
    line-height:1.35;
}

.author{
    margin-top:55px;
}

.signature{
    width:135px;
}

.author h4{
    font-size:26px;
}

}

/* ----------------------- */
/* Mobile */
/* ----------------------- */

@media(max-width:576px){

.quote-section{
    padding:60px 18px;
}

.quote-icon{
    font-size:46px;
}

.quote-text{
    font-size:26px;
    line-height:1.45;
}

.author{
    margin-top:45px;
}

.signature{
    width:110px;
}

.author h4{
    font-size:22px;
}

}

/* ================= My Paintings Section CSS ================= */
.stores-section {
  position: relative;
  overflow: hidden;
  padding: 100px 0;
  display: flex;
  align-items: center;
  background: #ffffff;
  gap: 4rem;
}

.stores-section::before,
.stores-section::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  z-index: 0;
}

.stores-section::before {
  width: 350px;
  height: 350px;
  background: #ffb7d5;
  top: -100px;
  left: -120px;
  opacity: 0.4;
}

.stores-section::after {
  width: 300px;
  height: 300px;
  background: #d6c8ff;
  right: -80px;
  bottom: -80px;
  opacity: 0.4;
}

.stores-left {
  width: 420px;
  flex-shrink: 0;
  padding-left: 60px;
  position: relative;
  z-index: 5;
}

.paintings-tag{
  display: inline-block;
  padding: 8px 22px;
  border: 1px solid #6827a2;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-family: "Syne", sans-serif;
}

.title-wrap {
  margin-bottom: 17px;
}

.title-wrap h2 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  color: #111;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.stores-left p {
  font-size: 16px;
  color: #0f0f0f;
  line-height: 1.7;
  margin-bottom: 10px;
}

.main-bold{
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 17px;
}

.painting-btn{
  margin-top: 40px;
  margin-bottom: 40px;
}

.painting-btn a{
  font-size: 0.8rem;
  font-weight: 600; 
 text-decoration: none;
 transition: 0.35s ease;
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

/* From Uiverse.io by Allyhere */ 
.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow:
    0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}

/* Navigation */
.custom-nav {
  display: flex;
  gap: 14px;
  margin-top: 40px;
}

.custom-nav button {
  width: 58px;
  height: 58px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.35s ease;
  margin-top: 20px;
}

.custom-nav button:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #1f75ff, #49b4fb);
  color: #fff;
}

/* Slider */
.stores-slider{
    overflow:hidden;
    width:100%;
}

.marquee-track{
    display:flex;
    gap:30px;
    width:max-content;
    animation:scroll 30s linear infinite;
}

.stores-slider:hover .marquee-track{
    animation-play-state:paused;
}

.store-card{
    width:320px;
    flex-shrink:0;
    position:relative;
    overflow:hidden;
}

.store-card img{
    width:100%;
    height:420px;
    object-fit:cover;
    transition:.5s;
}

.store-card:hover img{
    transform:scale(1.08);
}

.store-card::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
    opacity:0;
    transition:.4s;
}

.store-card:hover::before{
    opacity:1;
}

.view-details-btn{
    position:absolute;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    left:50%;
    bottom:25px;
    transform:translate(-50%,20px);
    opacity:0;
    transition:.35s;
    z-index:2;
    background: linear-gradient(135deg, #9D50BB, #6E48AA);
    padding:12px 26px;
    border-radius:30px;
    text-decoration:none;
    color:#ffffff;
}

.store-card:hover .view-details-btn{
    opacity:1;
    transform:translate(-50%,0);
}

@keyframes scroll{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}

/* =========================
   TABLET
========================= */

@media (max-width: 991px) {
  .stores-section {
    flex-direction: column;
    padding: 70px 20px;
  }

  .stores-left {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .stores-slider {
    width: 100%;
  }

  .title-wrap h2 {
    font-size: 48px;
  }

  .custom-nav {
    justify-content: center;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
  .title-wrap h2 {
    font-size: 36px;
  }

  .store-card img {
    height: 420px;
    border-radius: 35px;
  }

  .custom-nav button {
    width: 50px;
    height: 50px;
  }

  .btn1 {
    padding: 12px 22px;
  }
}

/* ===== TESTIMONIAL SECTION ===== */
.book-banner{
    width:100%;
    min-height:650px;
    background:url("img/testimonial_bg.png") 100% 100%/cover no-repeat;
    display:flex;
    align-items:center;
    padding:80px 8%;
}

.book-content{
    width:45%;
    max-width:560px;
}

.book-content h2{
    font-size:4rem;
    font-weight:700;
    color:#101010;
    margin-bottom:10px;
    line-height:1.1;
}

.book-content h4{
    color:#383838;
    font-size:24px;
    font-weight:500;
    line-height:1.6;
    margin-bottom:15px;
}

.book-content h4 span{
    font-size:18px;
    color:#636262;
}

.book-content p{
    color:#4e4e4e;
    font-size:1.1rem;
    line-height:1.7;
    margin-bottom:35px;
    text-align:justify;
}

.price{
    font-size:34px;
    margin-bottom:35px;
    color:#222;
    font-weight:500;
}

.price span{
    color:#d84235;
    font-weight:700;
}

.book-buttons a{
  text-decoration:none;
  text-transform:uppercase;
}

/* From Uiverse.io by Allyhere */ 
.book-btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(101 78 163);
  --btn-bg-2: rgb(101 78 163 / 79%);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow:
    0px 0px 20px rgba(180, 180, 180, 0.5),
    0px 5px 5px -1px rgba(167, 167, 167, 0.25),
    inset 4px 4px 8px rgba(131, 131, 131, 0.5),
    inset -4px -4px 8px rgba(78, 78, 78, 0.35);
}

.book-btn-donate:hover {
  background-position: right top;
}

.book-btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .book-btn-donate {
    transition: linear;
  }
}


/* ========================= */
/* Responsive */
/* ========================= */

@media(max-width:991px){

.book-banner{

    min-height:auto;

    padding:60px 40px;
}

.book-content{

    width:65%;
}

.book-content h1{

    font-size:48px;
}

}

@media(max-width:768px){

.book-banner{

    background-position:right center;

    padding:60px 25px;
}

.book-content{

    width:100%;

    max-width:100%;

    background:rgba(255,255,255,.78);

    backdrop-filter:blur(4px);

    padding:25px;

    border-radius:15px;
}

.book-content h1{

    font-size:38px;
}

.book-content h4{

    font-size:20px;
}

.book-content p{

    font-size:16px;
}

.price{

    font-size:28px;
}

}

@media(max-width:480px){

.book-banner{

    padding:40px 20px;
}

.book-content h1{

    font-size:32px;
}

.book-content h4{

    font-size:18px;
}

.book-content p{

    font-size:15px;
}

.btn{

    width:100%;

    text-align:center;
}

}


















.testimonial-section {
  width: 100%;
  min-height: 100vh;
  background: url("img/testimonial_bg.png") no-repeat center bottom/ cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 8%;
}

/* CONTAINER */
.testimonial-container {
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* LEFT */
.testimonial-left {
  overflow: hidden;
  position: relative;
}

/* SLIDER WRAPPER */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

/* SLIDES */
.slider-track {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

/* EACH SLIDE */
.testimonial-slide {
  min-width: 100%;
  padding-right: 20px;
}

/* TEXT */
.testimonial-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 26px;
  text-align: justify;
  color: #000000;
  max-width: 650px;
  margin-top: 15px;
}

/* STARS */
.stars {
  color: #e26217;
  font-size: 24px;
  margin-bottom: 10px;
}

/* CLIENT */
.client-name {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 10px;
}

.client-role {
  font-size: 14px;
  color: #888;
  letter-spacing: 2px;
}

/* CONTROLS */
.controls {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 17px;
}

.controls button {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: #000000;
  font-size: 17px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.4s ease;
}

.controls button:hover {
  background: #442f7c;
  transform: translateY(-4px);
  border-color: #442f7c;
  color: #fff;
}

/* RIGHT */
.testimonial-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* GLOW */
.testimonial-right::before {
  content: "";
  position: absolute;

  width: 400px;
  height: 400px;

  background: rgba(255, 90, 31, 0.15);
  border-radius: 50%;

  filter: blur(100px);
}

/* BOOK */
.book-image {
  width: 100%;
  max-width: 530px;

  position: relative;
  z-index: 2;

  animation: floatBook 4s ease-in-out infinite;

  filter: drop-shadow(0 25px 45px rgba(0, 0, 0, 0.6));
}

/* FLOAT */
@keyframes floatBook {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* DOTS */
.dots {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #444;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  width: 35px;
  border-radius: 20px;
  background: #442f7c;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .testimonial-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .testimonial-right {
    order: -1;
  }

  .testimonial-text {
    margin: auto;
  }

  .controls,
  .dots {
    justify-content: center;
  }

  .book-image {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .testimonial-section {
    padding: 60px 20px;
  }

  .quote {
    font-size: 60px;
  }

  .testimonial-text {
    font-size: 12px;
    line-height: 1.7;
  }

  .client-name {
    font-size: 28px;
  }

  .controls button {
    width: 50px;
    height: 50px;
  }

  .book-image {
    max-width: 240px;
  }
}

/* ===== RESPONSIVE ===== */

@media (max-width: 992px) {
  .testimonials h2 {
    font-size: 36px;
  }

  .testimonial-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-card:first-child,
  .testimonial-card:last-child,
  .person-block,
  .person-image {
    grid-column: auto;
  }

  .person-info,
  .left-info {
    position: static;
    margin-top: 15px;
  }

  .testimonial-card p {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .testimonial-right::before {
    width: auto;
  }
  .testimonials {
    padding: 70px 20px;
  }

  .testimonials h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .testimonial-card {
    padding: 35px 25px;
  }

  .testimonial-card p {
    font-size: 18px;
  }
}

/* ===== Featured Youtube Section CSS ===== */
.listening-section {
  padding: 80px 8%;
  text-align: center;
  background: rgb(0 0 0 / 6%);
}

.listening-section h2 {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.listening-section p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 60px;
  text-transform: capitalize;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.video-card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease;
}

.video-card:hover {
  transform: translateY(-8px);
}

.video-card iframe {
  width: 100%;
  height: 250px;
  border: none;
}

/* Tablet */
@media (max-width: 992px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: 1fr;
  }

  .listening-section h2 {
    font-size: 36px;
  }

  .video-card iframe {
    height: 220px;
  }
}

/* ================= Blog Section CSS ================= */
.blog-section {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 120px 50px;
  background-color: #ffffff;
}

.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
  gap: 50px;
}

.blog-left {
  flex: 1.5;
}

.blog-tag {
  font-size: 12px;
  letter-spacing: 1px;
  color: #777;
  display: block;
  margin-bottom: 15px;
}

.blog-left h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 750;
  color: #000000;
}

.blog-right {
  flex: 1;
  padding-top: 30px;
}

.blog-right p {
  font-size: 17px;
  line-height: 1.8;
  color: #000000;
  margin-bottom: 15px;
}

.blog-right h4 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: #000000;
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.blog-card {
  position: relative;
  height: 430px;
  overflow: hidden;
  cursor: pointer;
}

.blog-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.blog-card:hover img {
  transform: scale(1.08);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

.blog-content {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  color: #fff;
  z-index: 2;
}

.blog-content a {
  text-decoration: none;
  color: #fff;
}

.category {
  display: inline-block;
  background: #442f7c;
  color: #fff;
  font-size: 13px;
  padding: 4px 8px;
  margin-bottom: 18px;
  font-family: "Syne", sans-serif;
}

.blog-content h3 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: none;
}

.meta {
  display: flex;
  gap: 18px;
  font-size: 15px;
  color: #ddd;
  font-weight: 300;
  font-family: "Syne", sans-serif;
}

.meta i {
  margin-right: 5px;
}

.tag2 {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 14px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-bottom: 10px;
  font-family: "Syne", sans-serif;
}

/* =========================
   Responsive Blog Section
========================= */

/* Large Tablets */
@media (max-width: 1024px) {
  .blog-section {
    padding: 100px 40px;
  }

  .blog-header {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
  }

  .blog-left h2 {
    font-size: 40px;
  }

  .blog-right {
    padding-top: 0;
  }

  .blog-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .blog-card {
    height: 380px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .blog-section {
    padding: 80px 25px;
  }

  .blog-left h2 {
    font-size: 32px;
    line-height: 1.3;
  }

  .blog-right p {
    font-size: 15px;
    line-height: 1.6;
  }

  .blog-right h4 {
    font-size: 15px;
  }

  .blog-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .blog-card {
    height: 350px;
  }

  .blog-content h3 {
    font-size: 20px;
  }

  .meta {
    flex-wrap: wrap;
    gap: 10px;
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  .blog-section {
    padding: 60px 15px;
  }

  .blog-tag {
    font-size: 11px;
  }

  .blog-left h2 {
    font-size: 26px;
  }

  .blog-right p {
    font-size: 14px;
  }

  .blog-right h4 {
    font-size: 14px;
  }

  .blog-card {
    height: 300px;
  }

  .blog-content {
    left: 15px;
    right: 15px;
    bottom: 15px;
  }

  .category {
    font-size: 11px;
    padding: 4px 7px;
  }

  .blog-content h3 {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .meta {
    font-size: 12px;
    gap: 8px;
  }
}

/* ================= Work with me Section CSS ================= */
.contact-section {
  padding: 80px 10%;
  background: #e9e9e9;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

/* LEFT SIDE */
.left {
  flex: 1;
}

.left h1 {
  font-size: 3rem;
  font-weight: 750;
  line-height: 1.3;
  color: #000;
}

.left h1 span {
  font-size: inherit;
  font-weight: inherit;
}

.contact-info {
  margin-top: 40px;
}

.contact-info p {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000000;
  word-wrap: break-word;
}

/* RIGHT FORM */
.right {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #999;
  background: transparent;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #442f7c;
}

textarea {
  min-height: 120px;
  resize: none;
}

.submit_btn {
  width: 150px;
  padding: 12px;
  background: rgb(68 47 124);
  color: #ffffff;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Syne", sans-serif;
}

.submit_btn:hover {
  background: #654ea3;
}

/* =========================
   RESPONSIVE BREAKPOINTS
========================= */

/* Large Tablets */
@media (max-width: 992px) {
  .contact-section {
    padding: 60px 8%;
  }

  .contact-container {
    gap: 30px;
  }

  .left h1 {
    font-size: 36px;
  }

  .contact-info p {
    font-size: 16px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .contact-section {
    padding: 50px 6%;
  }

  .contact-container {
    flex-direction: column;
    gap: 40px;
  }

  .left,
  .right {
    width: 100%;
  }

  .left h1 {
    font-size: 30px;
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  .contact-section {
    padding: 40px 5%;
  }

  .left h1 {
    font-size: 24px;
    line-height: 1.4;
  }

  .contact-info {
    margin-top: 25px;
  }

  .contact-info p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  input,
  textarea {
    padding: 12px;
    font-size: 14px;
  }

  .submit_btn {
    padding: 12px;
    font-size: 15px;
  }
}

/* ================= Footer Section CSS ================= */
.footer {
  background: #000000;
  color: #fff;
  padding: 60px 20px 30px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
}

/* Top Section */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-left h2 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.footer-left p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
}

.footer-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn {
  padding: 12px 26px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  font-family: "Syne", sans-serif;
}

.btn.dark {
  background: #442f7c;
  color: #fff;
}

.btn.dark:hover {
  background: #654ea3;
}

/* Divider */
hr {
  border: none;
  border-top: 1px solid #ffffff;
  margin: 30px 0;
}

/* Middle Section */
.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links a {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: "Syne", sans-serif;
}

.footer-links a:hover {
  text-decoration: none;
}

.footer-socials a {
  margin-left: 15px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: 0.3s;
}

/* Hover Effects */
.footer-socials a:hover {
  background: #fff;
  color: #ff4d1c;
  transform: translateY(-3px);
}

/* Individual Brand Hover Colors (optional premium touch) */
.footer-socials a:nth-child(1):hover {
  color: #1877f2; /* Facebook */
}

.footer-socials a:nth-child(2):hover {
  color: #e1306c; /* Instagram */
}

.footer-socials a:nth-child(3):hover {
  color: #ff0000; /* YouTube */
}

/* Bottom */
.footer-bottom {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-middle {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  .footer-buttons {
    flex-wrap: wrap;
  }
}

/* ================= Painting details Section CSS ================= */
.painting-details {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: flex-start;
  margin-bottom: 8%;
}

.paint-image{
  width: 100%;
  height: 100%;
}

.paint-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.painting-detail img {
  max-width: 100%;
  width: 100%;
  height: 470px; 
}

.content h2 {
  font-size: 42px;
  margin-bottom: 15px;
  font-family: "Syne", sans-serif;
}

.price {
  font-size: 32px;
  color: #9c27b0;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Syne", sans-serif;
}

.content p {
  font-size: 17px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 25px;
  font-family: "Syne", sans-serif;
}

.buy-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(135deg, #a044ff, #6a3093);
  box-shadow: 0 10px 25px rgba(124, 58, 237, 0.25);
  transition: 0.35s ease;
  font-family: "Syne", sans-serif;
}

.buy-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(124, 58, 237, 0.35);
}

@media (max-width: 768px) {
  .painting-detail {
    grid-template-columns: 1fr;
  }

  .content h1 {
    font-size: 30px;
  }
}


